html{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

p
{
  text-align: justify;
}

footer{
  margin-top: auto;
}

.social-icon:hover i {
  transform: scale(1.2)
}

ul{
  text-align: justify;
}

li{
  text-align: justify;
  /*padding-top: 1em;*/
}

a{
  color: #3498DB;
}